.stores {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.store {
    background-color: paleturquoise;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px turquoise;
}