.title {
    font-size: 5em;
    animation: rainbow infinite 1.5s linear;
    background-color: white;
    border-radius: 20px;
    padding: 30px 10px 30px 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

@keyframes rainbow {
    0%   {color: lightpink;}
    15%  {color: orange;}
    30%  {color: yellow;}
    45%  {color: lightgreen;}
    65%  {color: turquoise;}
    85%  {color: lightblue;}
    100% {color: violet;}
}